/* Navbar container */
.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a017c;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo link */
  .custom-logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Toggler button */
  .custom-toggler {
    display: none; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
  }
  
  /* Navigation items */
  .custom-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation item */
  .custom-nav-item {
    margin-right: 20px;
  }
  
  /* Navigation link */
  .custom-nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  /* Button style */
  .custom-btn {
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  /* Dropdown container */
  .custom-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
  }
  
  /* Dropdown text */
  .custom-dropdown-text {
    color: #333;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Dropdown icon */
  .custom-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Show dropdown on hover */
  .custom-nav-item.dropdown:hover .custom-dropdown {
    display: block;
  }
  