.unread{
  background-color: #d5d8d5;

}
.read{
  background-color: white;

}
.NEW{
  background-color: #384bc6;
  padding: 5px;
  border-radius: 27%;

}
.READ{
  background-color: #39ce66;
  padding: 5px;
  border-radius: 27%;

}